{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8" lang="en-US"><![endif]-->
<!--[if !(IE 8)]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<title>AMERICANA</title>
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/vnd.microsoft.icon"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% include 'base/css.html' %}
{% block base_head %} {% endblock %}

</head>
