{% if context.object_list %}
{% load app_filters %}
{% for user in context.object_list %}
<tr>
  <th scope="row">
    <div class="btn-checkbox">
      <span class="btn-checkbox">
        <input type="checkbox" id="{{ user.id}}" class="list_item" name="cid[]" value="{{ user.id|to_encrypt }}">
        <label for="{{ user.id}}">&nbsp;</label>
      </span>
    </div>
  </th> 
  <td>{{ user.employee_name }}</td>
  <td>{{ user.employee_code }}</td>
  <td>{{ user.market }}</td>
  <td>{{ user.city }}</td>
  <td>{{ user.job_role__name }}</td>
  <td>{{ user.createdAt }}</td>
  <td>{% if perms.jobusers.change_jobusers %}<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Edit" href="{% url 'jobusers:edit-job-user' user.id|to_encrypt %}"><i class="ico edit-icon"></i></a> {% endif %}
   {% if perms.jobusers.delete_jobusers %}  
      <button data-toggle="tooltip" class="btn btn-default delbtn" data-placement ="top" ><i class="ico trash-icon"></i></button>
   {% endif %}
  </td>
</tr>
{% endfor %}
{% endif %}
