{% if context.object_list %}
{% load app_filters %}
{% for quiz in context.object_list %}
<tr>
  <th scope="row">
    <div class="btn-checkbox">
      <span class="btn-checkbox">
        <input type="checkbox" id="{{ forloop.counter }}" class="list_item" name="cid[]" value="{{ quiz.id|to_encrypt }}">
        <label for="{{ forloop.counter}}">&nbsp;</label>
      </span>
    </div>
  </th> 
  <td>{{ quiz.name }}</td>
  <td>{{ quiz.start_date }}</td>
  <td>{{ quiz.end_date }}</td>
  <td>{{ quiz.result_date }}</td>
  <td>{{ quiz.isimage }}</td>
  <td>{{ quiz.createdAt }}</td>
  <td>
  {% if perms.quiz.change_quiz %}
      <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Edit" href="{% url 'quiz:edit-quiz' quiz.id|to_encrypt %}"><i class="ico edit-icon"></i></a> 
   {% endif %}
   {% if perms.quiz.delete_quiz %}  
      <button data-url="{% url 'quiz:delete-quiz' %}" data-toggle="tooltip" class="btn btn-default delBtn" data-placement ="top" ><i class="ico trash-icon"></i></button>
   {% endif %}
 </td>
</tr>
{% endfor %}
{% endif %}
