{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="navbar-custom navbar-light">
    <div class="app-search">
        <form class="d-flex align-items-center">
            <p>Dashboard</p>
        </form>
    </div>
</div>
<div class="containerfluid">
    <div class="devices-sec">
        <div class="devices-content">
            <div class="d-flex align-items-start">
                <div class="table-content full-width">
                    <div class="dashboard-header">
                        <div class="d-flex align-items-center">
                            <header>
                                <h2>Welcome to AMERICANA!</h2>

                            </header>
                            <div class="sec-pic ml-auto">
                                <img src="{% static 'images/dashboard-header.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    
                        <div class="row">
                            <div class="col-md-4" >
                                <div class="dashboard-header">
                                    <div class="d-flex align-items-center">
                                        <header>
                                            <h2>Total users<br> <i class="fa fa-user-circle"></i></h2>
                                            <h3>{{ total_user_count }}</h3>
                                        </header>
                                        <div class="sec-pic ml-auto">
<!--
                                            <img src="/static/images/dashboard-header.png" alt="">
-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="dashboard-header">
                                    <div class="d-flex align-items-center">
                                        <header>
                                            <h2>Total Posts <br><i class="fa fa-users"></i></h2>
                                            <h3>{{ total_post_count }}</h3>
                                        </header>
                                        <div class="sec-pic ml-auto">
<!--
                                            <img src="/static/images/dashboard-header.png" alt="">
-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="dashboard-header">
                                    <div class="d-flex align-items-center">
                                        <header>
                                            <h2>Total Survey <br><i class="fa fa-id-card-o"></i></h2>
                                            <h3>{{ total_survey_count }}</h3>
                                        </header>
                                        <div class="sec-pic ml-auto">
<!--
                                            <img src="/static/images/dashboard-header.png" alt="">
-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" >
                    <div class="wht-block dashboard-table">
                        <div class="data-table-sec cus-scr">
                            <div class="table-responsive">
                                <table class="table">
                                <tbody>
                                    <h2 class="title-sm">Top 5 Users</h2>
                               <tr>
                                <th width="27%">Name</th>
                                <th width="17%">Employee Id</th>

                                <th width="17%">Job Role</th>
                                <th width="17%">Created At</th>
<!--
                                <th width="10%">&nbsp;</th>
-->
                                </tr>
                                
                                
                                {% for user in user_data %}
                                    <tr>
                                        <td>
<!--
                                            <i class="ico cal-icon"></i> 
-->
                                            {{ user.employee_name }}</td>
                                        <td> {{ user.employee_code }}</td>
                                        <td>{{ user.job_role__name }}</td>
                                        <td>{{ user.createdAt }}</td>
<!--
                                        <td><span class="success-sec">Success</span></td>
-->
<!--
                                        <td><a href="javascript:void();" class="knowmore">Know More</a></td>
-->
                                    </tr>
                                {% endfor %}
    
    
    
                                
                                
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6" >
                    <div class="wht-block dashboard-table">
                        <div class="data-table-sec cus-scr">
                            <div class="table-responsive">
                                <table class="table">
                                <tbody>
                                    <h2 class="title-sm">Recent Posts</h2>
                               <tr>
                                <th width="27%">Title</th>
<!--
                                <th width="17%">Description</th>
-->
                                <th width="17%">Post Type</th>
                                <th width="17%">User</th>
                                <th width="17%">Post Category</th>
                                </tr>
                                
                                
                                {% for post in posts_obj %}
                                    <tr>
                                        <td>{{ post.title }}</td>
<!--
                                        <td>{{ post.description }}</td>
-->
                                        <td>{{ post.post_type }}</td>
                                        <td>{{ post.user_id__email }}</td>
                                        <td>{{ post.post_category__name }}</td>
<!--
                                        <td><span class="success-sec">Success</span></td>
-->
<!--
                                        <td><a href="javascript:void();" class="knowmore">Know More</a></td>
-->
                                    </tr>
                                {% endfor %}
    
    
    
                                
                                
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
<!--
                    End table div
-->
<!--
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wht-block data-threshold">
                                <div class="d-flex align-items-center mb-4">
                                    <h2 class="title-sm">Data Usage Threshold</h2>
                                    <div class="ml-auto rpanel">
                                        <a href="javascript:void();">More...</a>
                                    </div>
                                </div>
                                <div class="data-table-sec cus-scr">
                                    <div class="table-responsive">
                                        <table class="table">
                                        <tbody>
                                        <tr>
                                        <th width="60%">Users &amp; Device Name</th>
                                        <th width="25%">Data Usage</th>
                                        <th width="15%">Battery %</th>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>1.75 GB</td>
                                        <td>68%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>0.75 GB</td>
                                        <td>30%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>1.05 GB</td>
                                        <td>90%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>3.75 GB</td>
                                        <td>20%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>3.22 GB</td>
                                        <td>62%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>1.75 GB</td>
                                        <td>68%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>0.75 GB</td>
                                        <td>30%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>1.05 GB</td>
                                        <td>90%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>3.75 GB</td>
                                        <td>20%</td>
                                        </tr>
                                        <tr>
                                        <td>Jonathan Doe<br>
                                        <span>Lenovo TAB-E 5000</span></td>
                                        <td>3.22 GB</td>
                                        <td>62%</td>
                                        </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wht-block store-management">
                                <div class="d-flex align-items-center mb-4">
                                    <h2 class="title-sm">Store Management</h2>
                                </div>
                                
                                <div class="js-donut-chart-container1"></div>
                                <div class="js-legend-chart-container1"></div>
                                <small class="notify"><i class="fa fa-info-circle"></i> Store Management info for apps, OS and files in GB's</small>
                                </div>
                        </div>
                    </div>
-->
<!--
                    <div class="row">
                        <div class="col-md-6">
                            <div class="wht-block user-list">
                                <div class="d-flex align-items-center mb-4">
                                    <h2 class="title-sm">Inactive User List</h2>
                                    <div class="ml-auto rpanel">
                                        <select class="form-control">
                                            <option>Last Month</option>
                                            <option>Last Year</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="js-donut-chart-container"></div>
                                 <div class="js-legend-chart-container"></div>
                                 <small class="notify"><i class="fa fa-info-circle"></i> Device inactive for more that 2 days</small>
                                </div>
                        </div>
-->
<!--
                        <div class="col-md-6">
                            <div class="wht-block violation-report">
                                <div class="d-flex align-items-center mb-4">
                                    <h2 class="title-sm">Violation Report</h2>
                                    <div class="ml-auto rpanel">
                                        <select class="form-control">
                                            <option>Last Month</option>
                                            <option>Last Year</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="js-bar-chart-container card--chart"></div>
                                
                            </div>
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/britecharts@2/dist/bundled/britecharts.min.js"></script>
<script>
$(document).ready(function(){
	//$(".gaugemeter").gaugeMeter();

	let donutData = {
		data:[
			{name: "Active Devices", id: 1, quantity: 90},
			{name: "Devices Inactive", id: 2, quantity: 10},
		]
	};

	function createDonutChart() {
		let donutChart = britecharts.donut(),
				donutContainer = d3.select('.js-donut-chart-container'),
				containerWidth = donutContainer.node() ? donutContainer.node().getBoundingClientRect().width : false,
				legendChart = britecharts.legend(),
				legendContainer;

		donutChart
			.isAnimated(true)
			.highlightSliceById(2).hasFixedHighlightedSlice(true)
			.width(containerWidth)
			.height(containerWidth)
			.externalRadius(containerWidth/2)
			.internalRadius(containerWidth/2.6)
			.on('customMouseOver', function(data) {
			legendChart.highlight(data.data.id);
		})
			.on('customMouseOut', function() {
			legendChart.clearHighlight();
		});

		legendChart
			.width(220)
			//.height(200)
			.numberFormat('#');

		donutContainer.datum(donutData.data).call(donutChart);
		legendContainer = d3.select('.js-legend-chart-container');
		legendContainer.datum(donutData.data).call(legendChart);

		donutChart.highlightSliceById(2).isAnimated(true); //not working
		donutContainer.datum(donutData.data).call(donutChart);

	}
	createDonutChart();
	
	let donutData1 = {
		data:[
			{name: "App Storage", id: 1, quantity: 15},
			{name: "OS Storage", id: 2, quantity: 25},
			{name: "Files Storage", id: 3, quantity: 10},
			{name: "Gallery Storage", id: 4, quantity: 10},
			{name: "Remaning Storage", id: 5, quantity: 40},
		]
	};

	function createDonutChart1() {
		let donutChart = britecharts.donut(),
				donutContainer = d3.select('.js-donut-chart-container1'),
				containerWidth = donutContainer.node() ? donutContainer.node().getBoundingClientRect().width : false,
				legendChart = britecharts.legend(),
				legendContainer;

		donutChart
			.isAnimated(true)
			.highlightSliceById(2).hasFixedHighlightedSlice(true)
			.width(containerWidth)
			.height(containerWidth)
			.externalRadius(containerWidth/2)
			.internalRadius(containerWidth/2.6)
			.on('customMouseOver', function(data) {
			legendChart.highlight(data.data.id);
		})
			.on('customMouseOut', function() {
			legendChart.clearHighlight();
		});

		legendChart
			.width(220)
			//.height(200)
			.numberFormat('#');

		donutContainer.datum(donutData1.data).call(donutChart);
		legendContainer = d3.select('.js-legend-chart-container1');
		legendContainer.datum(donutData1.data).call(legendChart);

		donutChart.highlightSliceById(1).isAnimated(true); //not working
		donutContainer.datum(donutData1.data).call(donutChart);

	}
	createDonutChart1();
	
	
	let barData = {
  data:[
    {name: "Changing Sim", value: 60},
    {name: "SD Card", value: 75},
    {name: "lost Phone", value: 125},
    {name: "Outside Geofence", value: 80}
  ]
};
function createSimpleBarChart() {
  let barChart = britecharts.bar(),
	    barContainer = d3.select('.js-bar-chart-container'),
	    containerWidth = barContainer.node() ? barContainer.node().getBoundingClientRect().width : false,
	    dataset;
  
	if (containerWidth) {
    dataset = barData.data;

    barChart
      .width(containerWidth)
      .xAxisLabel('X Axis Label')
      .yAxisLabel('Y Axis Label')
      .height(330);

    barContainer.datum(dataset).call(barChart);
  };
};
createSimpleBarChart();
	
});

$(document).ready(function() {
  $('.loading-overlay').fadeOut("slow");
  
});
 </script>
{% endblock %}
