{% extends "base.html" %}
{% block content %}
<div class="navbar-custom navbar-light">   
    <div class="app-search">
      <div class="col-12 form-group">
          <p>Change Password</p>
      </div>
    </div>
</div>
   <div class="devices-sec">
      <div class="devices-content">
        <div class="row">
          <div class="col-xl-8">
          <form method="post">
            {% csrf_token %}
            {% include 'users/basic_form.html' with form=form %}
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
          </form>
          </div> 
        </div> 
      </div> 
    </div>
{% endblock %}

